In [2]:
print("Machine Learning")

Machine Learning

In [4]:
x=("Name: John")
y=("Age: 25")
z=x+y
print(z)

Name: JohnAge: 25

In [6]:
print("Name: John")
print("Age: 25")

Name: John
Age: 25

In [7]:
print("Welcome to HOPE Artificial Intelligence")

Welcome to HOPE Artificial Intelligence

In [11]:
print("10")
print("10")
print("x=y= 10")

10
10
x=y= 10

In [47]:
x=("a=10")
print(x)
y=("b=3")
print(y)
num1=10
num2=3
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

a=10
b=3
13
7
30
3.3333333333333335